@model Zoo
@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input asp-for="ZooId" />
       
            <partial name="_formulario" />
            <botao texto="Atualizar" />
           
            <a asp-action="Listar" asp-controller="Zoo" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>