@model Animal

<div class="form-group">
    <label ></label>
    <input />
</div>
<div class="form-group">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Carnivoro"></label>
    <input asp-for="Carnivoro" class="form-control"/>
</div>
<div class="form-group">
    <label asp-for="Tipo"></label>
    <select asp-for="Tipo" form="form-control" asp-items="@Html.GetEnumSelectList<Tipo>()">
        <option>Selecione</option>
    </select>
</div>