@model Animal
@{
    ViewData["Title"] = "Atualizar";
}

<div class="alert alert-success">@TempData["msg"]</div>

<h1>Atualizar</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Atualizar">
            <input asp-for="AnimalId" />
       
            <partial name="_formulario" />
            <botao texto="Atualizar" />

            @* arrumar do cancelar*@
            <a asp-action="Listar" asp-controller="animal" class="btn btn-danger">Cancelar</a>
        </form>

    </div>
</div>